.login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #1E3D88;
}
      
.login-box {
background: white;
padding: 40px;
border-radius: 8px;
text-align: center;
width: 100%;
max-width: 400px;
}

.logo img {
width: 300px;
margin-bottom: 20px;
}

h1 {
color: #1E3D88;
margin-bottom: 20px;
}

.login-button {
width: 100%;
background-color: #FF5733;
border-color: #FF5733;
}

.support-link {
display: block;
margin-top: 20px;
color: #1E3D88;
}

.footer-text {
margin-top: 20px;
color: #666;
}
