.login-container {
        height: 100vh;
        background-color: #1E3D88;
 }
      
.login-box {
        text-align: center;
        padding: 20px;
        border: 1px solid #f0f0f0;
        border-radius: 8px;
        background-color: #fff;
}

.logo-container {
        margin-bottom: 20px;
}

.logo {
        width: 100px;
}

.login-title {
        font-size: 24px;
}

.login-button {
        width: 100%;
        background-color: #FF5733;
}

.support-link {
        display: block;
        margin-top: 10px;
}

.footer-text {
        margin-top: 20px;
        color: #999;
}
      