.header {
        background-color: #fff;
        margin-top: 25px; 
              }
      
.header-row {
        border-bottom: 4.7px solid;
        border-image: linear-gradient(90deg, rgba(213,241,255,1) 0%, rgba(37,41,168,1) 21%, rgba(29,32,164,1) 49%, rgba(255,0,0,1) 51%) 1;
      }
      
.header-title {
        margin-right: 10px;
        color: #1E3D88;
        text-align: center;
      }
      
.header-user {
        display: flex;
        align-items: center;
      }
      
.header-user-name {
        font-size: 16px;
      }
      
.header-logo {
        width: 175px;
        margin-right: 150px;
      }
      
.header-button {
        border: none;
        box-shadow: none;
        padding: 2px 4px;
      }
      .tabs-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      
      .tabs-container .ant-tabs {
        width: 100%;
      }

      :where(.css-dev-only-do-not-override-3rel02).ant-tabs-card.ant-tabs-top >.ant-tabs-nav .ant-tabs-tab{
        padding: 0.5vw 6vw;
        font-size:small;
      }     
      :where(.css-dev-only-do-not-override-3rel02).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
        font-weight: 500 ;
      } 
      :where(.css-dev-only-do-not-override-3rel02).ant-tabs-card >.ant-tabs-nav .ant-tabs-tab{
        border: 1px solid #d6d6d6;
      }
      :where(.css-dev-only-do-not-override-3rel02).ant-tabs >.ant-tabs-nav .ant-tabs-nav-operations-hidden{
        position: static;
      }