.header {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #fff;
        margin-top: 25px; 
        }
      
.header-row {
        border-bottom: 4.7px solid;
        border-image: linear-gradient(90deg, rgba(213,241,255,1) 0%, rgba(37,41,168,1) 21%, rgba(29,32,164,1) 49%, rgba(255,0,0,1) 51%) 1;
      }
      
.header-title {
        margin-right: 10px;
        color: #1E3D88;
        text-align: center;
      }
      
.header-user {
        display: flex;
        align-items: center;
        flex: none;
      }
      
.header-user-name {
        font-size: 17px;     
      }
      
.header-logo {
        width: 175px;
        /* margin-right: 150px; */
      }
      
.header-button {
        border: none;
        box-shadow: none;
        padding: 2px 4px;
      }
      .tabs-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      
      .tabs-container .ant-tabs {
        width: 100%;
      }

      :where(.css-dev-only-do-not-override-3rel02).ant-tabs-card.ant-tabs-top >.ant-tabs-nav .ant-tabs-tab{
        padding: 0.5vw 6vw;
        font-size:small;
      }     
      :where(.css-dev-only-do-not-override-3rel02).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
        font-weight: 500 ;
      } 
      :where(.css-dev-only-do-not-override-3rel02).ant-tabs-card >.ant-tabs-nav .ant-tabs-tab{
        border: 1px solid #d6d6d6;
      }
      :where(.css-dev-only-do-not-override-3rel02).ant-tabs >.ant-tabs-nav .ant-tabs-nav-operations-hidden{
        position: static;
      }

    /* new */
    /* .header {
      padding: 10px;
    } */
    
    .header-logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .header-title-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    .header-user {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
    .header-logo {
      /* width: 100px; */
    }
    
    .header-user-name {
      margin-right: 10px;
    }
    
    .header-button {
      border: none;
      box-shadow: none;
    }
    
    .tabs-container {
      padding: 0 20px;
    }
    
    .responsive-tabs .ant-tabs-nav-wrap {
      display: flex;
      justify-content: center;
    }
    
    @media (max-width: 768px) {
      .header-title-container {
        margin-top: 10px;
        justify-content: center;
      align-items: center;
      text-align: center;
      }
    
      .header-user {
        justify-content: center;
        /* margin-top: 10px; */
        flex: auto;
      }
    
      .header-logo-container {
        justify-content: center;
        margin-top: 10px;
      }
    
      .responsive-tabs .ant-tabs-nav-list {
        flex-direction: column;
      }
    }
    