.header {
        background-color: #fff;
      }
      
.header-row {
        border-bottom: 4px solid;
        border-image: linear-gradient(to right, #1E3D88, #ff0000) 1;
      }
      
.header-title {
        margin: 0;
        color: #1E3D88;
        text-align: center;
      }
      
.header-user {
        display: flex;
        align-items: center;
      }
      
.header-user-name {
        margin-right: 10px;
        font-size: 16px;
      }
      
.header-logo {
        width: 100px;
        margin-right: 200px;
      }
      
.header-button {
        border: none;
        box-shadow: none;
      }
      