      .upload-container {
        padding: 20px;
      }
      
      .step-container {
        padding: 20px 0;
        border-bottom: 1px solid #d9d9d9;
      }
      
      .step-container:last-child {
        border-bottom: none;
      }
      
      .help-button {
        background-color: #979797!important;
        margin-left: 10px;
      }
      
     
      
      .filename{
        font-size: small;
        color: #1E3D88;
      }
      
      .help-container {
        text-align: left;
      }
      
      .help-text {
        display: block;
        margin-bottom: 8px;
      }
      
      .last-updated {
        margin-top: 16px;
        display: block;
        margin-bottom: 8px;
      }
      
      @media (max-width: 576px) {
        .title {
          text-align: center;
        }
      
        .help-container {
          text-align: center;
        }
      }
      